@using VerstaTestTask.Models
@using VerstaTestTask.Services

<RadzenStack style="min-width: 100%; box-sizing: border-box;">
    <RadzenTemplateForm TItem="EditOrderModel" Data=@model Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
        <RadzenFieldset Style="padding: 1.5rem;">
            <RadzenStack Gap="1.5rem" Style="width: 100%;">

                <!-- Настройка даты -->
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" class="rz-text-align-start rz-text-nowrap">
                        <RadzenLabel Text="Выберите дату" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenDatePicker Name="ChooseDate" @bind-value="@model.OrderDate" Style="width: 100%;"/>
                        <div style="margin-top: 4px;">
                            <RadzenRequiredValidator Component="ChooseDate" Text="Дата заказа обязательна"
                                                     Style="position: absolute; color: var(--rz-danger);" />
                        </div>
                    </RadzenColumn>
                </RadzenRow>

                <!-- Настройка Отправителя -->
                <!-- Город отправителя -->
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" class="rz-text-align-start rz-text-nowrap">
                        <RadzenLabel Text="Город отправителя" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenDropDown Name="SenderCityName" @bind-Value="@model.SenderCityId"
                                        Data=@cities LoadData=@LoadCities Count="@citiesCount"
                                        AllowVirtualization="true" AllowClear="true"
                                        AllowFiltering="true" TextProperty="@nameof(City.CityName)"
                                        ValueProperty="@nameof(City.Id)" Style="width: 100%;" />
                        <div style="margin-top: 4px;">
                            <RadzenRequiredValidator Component="SenderCityName" Text="Город отправителя обязателен"
                                                     Style="position: absolute; color: var(--rz-danger);" />
                        </div>
                    </RadzenColumn>
                </RadzenRow>
                <!-- Адрес отправителя -->
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" class="rz-text-align-start rz-text-nowrap">
                        <RadzenLabel Text="Адрес отправителя" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenTextBox Name="SenderAddress" @bind-Value=@model.SenderAddress
                                       Style="width: 100%;" aria-label="SenderAddress" />
                        <div style="margin-top: 4px;">
                            <RadzenRequiredValidator Component="SenderAddress" Text="Адрес отправителя обязателен"
                                                     Style="position: absolute; color: var(--rz-danger);" />
                        </div>
                    </RadzenColumn>
                </RadzenRow>

                <!-- Настройка Получателя -->
                <!-- Город получателя -->
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" class="rz-text-align-start rz-text-nowrap">
                        <RadzenLabel Text="Город получателя" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenDropDown Name="RecipientCityName" @bind-Value="@model.RecipientCityId"
                                        Data=@cities LoadData=@LoadCities Count="@citiesCount"
                                        AllowVirtualization="true" AllowClear="true"
                                        AllowFiltering="true" TextProperty="@nameof(City.CityName)"
                                        ValueProperty="@nameof(City.Id)" Style="width: 100%;" />
                        <div style="margin-top: 4px;">
                            <RadzenRequiredValidator Component="RecipientCityName" Text="Город получателя обязателен"
                                                     Style="position: absolute; color: var(--rz-danger);" />
                        </div>
                    </RadzenColumn>
                </RadzenRow>
                <!-- Адрес получателя -->
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" class="rz-text-align-start rz-text-nowrap">
                        <RadzenLabel Text="Адрес получателя" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenTextBox Name="RecipientAddress" @bind-Value=@model.RecipientAddress
                                       Style="width: 100%;" aria-label="RecipientAddress" />
                        <div style="margin-top: 4px;">
                            <RadzenRequiredValidator Component="RecipientAddress" Text="Адрес получателя обязателен"
                                                     Style="position: absolute; color: var(--rz-danger);" />
                        </div>
                    </RadzenColumn>
                </RadzenRow>

                <!-- Вес груза -->
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" class="rz-text-align-start rz-text-nowrap">
                        <RadzenLabel Text="Вес груза" Component="CargoWeight" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenNumeric Name="CargoWeight" @bind-Value=@model.CargoWeight Min="1"
                                       Style="width: 100%;" />
                        <div style="margin-top: 4px;">
                            <RadzenRequiredValidator Component="CargoWeight" Text="Вес заказа обязателен"
                                                     Style="position: absolute; color: var(--rz-danger);" />
                        </div>
                    </RadzenColumn>
                </RadzenRow>

                <!-- Кнопка добавления -->
                <RadzenRow JustifyContent="JustifyContent.Center" class="rz-mt-3">
                    <RadzenColumn Size="12">
                        <div style="display: flex; justify-content: center;">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Добавить"
                                          Style="min-width: 150px;"></RadzenButton>
                        </div>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenStack>
        </RadzenFieldset>
    </RadzenTemplateForm>
</RadzenStack>